.textBox {
  width: 1400px;
  height: 575px;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(10,86,64,0.15);;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px;
}

.filesContainer {
  margin: 30px auto;
  max-width: 1250px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(10,86,64,0.15);
  border-radius: 8px;
  border-top: 2.5px solid #92bdd4;
  border-bottom: 2.5px solid #92bdd4;
  padding: 0.75rem;
}

.noteFiles {
  margin: auto;
  margin-right: 25px;
  height: 75px;
  width: 150px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 550;
  font-size: 1rem;
  box-shadow: 0 6px 12px rgba(5, 24, 19, 0.15);
  transition: all 0.5s ease;
  background-color:rgb(252, 245, 236);
  border-radius: 10px;
  border-width: 1.5px;
}

.noteFiles:hover{
  transform: scale(1.1);
  transition: all .6s ease;
}